@using System.Security.Claims
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventSphere</title>

    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Client/assets/img/favicon.svg")" />

    <!-- CSS here -->
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/meanmenu.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/nice-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/swiper-bundle.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/slick.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/jquery-ui.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/backtotop.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/flaticon_musicly.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/fontawesome-pro.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/spacing.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Client/assets/app/css/main.css")" />

    @RenderSection("styles", required: false)
</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">
        <!-- ==== Header thay thế ==== -->
        <header>
            <div id="header-sticky" class="header__area header-1 ms-header-fixed ms-bg-body">
                <div class="container-fluid ms-maw-1710">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="mega__menu-wrapper p-relative">
                                <div class="header__main ms-border2 d-flex align-items-center justify-content-between">
                                    <!-- Logo -->
                                    <div class="header__logo pt-25 pb-25">
                                        <a href="@Url.Action("Index", "Home")">
                                            <img src="@Url.Content("Client")/assets/img/logo/logo.svg" alt="logo not found">
                                        </a>
                                    </div>

                                    <!-- Browse Acts -->
                                    <div class="d-none d-xxl-block">
                                        <div class="browse-filter p-relative ms-browse-act-wrap">
                                            <div class="ms-browse-icon ms-cp">
                                                <a class="browse-filter__text" href="javascript:void(0)">
                                                    <i class="flaticon-options-lines"></i> Browse Acts
                                                </a>
                                            </div>
                                            <div class="ms-browse-act-item-wrap p-absolute">
                                                <div class="ms-song-item">
                                                    <div class="ms-song-img p-relative">
                                                        <a href="@Url.Action("Index","Event", new { category="Workshop"})">
                                                            <img src="~/assets/img/genres/genres-01.jpg" alt="brand-song">
                                                        </a>
                                                    </div>
                                                    <div class="ms-song-content">
                                                        <h3 class="ms-song-title">
                                                            <a href="@Url.Action("Index","Event", new { category="Workshop"})">Workshop</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="ms-song-item">
                                                    <div class="ms-song-img p-relative">
                                                        <a href="@Url.Action("Index","Event", new { category="Competition"})">
                                                            <img src="~/assets/img/genres/genres-02.jpg" alt="brand-song">
                                                        </a>
                                                    </div>
                                                    <div class="ms-song-content">
                                                        <h3 class="ms-song-title">
                                                            <a href="@Url.Action("Index","Event", new { category="Competition"})">Competition</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="ms-song-item">
                                                    <div class="ms-song-img p-relative">
                                                        <a href="@Url.Action("Index","Event", new { category="Cultural"})">
                                                            <img src="~/assets/img/genres/genres-03.jpg" alt="brand-song">
                                                        </a>
                                                    </div>
                                                    <div class="ms-song-content">
                                                        <h3 class="ms-song-title">
                                                            <a href="@Url.Action("Index","Event", new { category="Cultural"})">Cultural</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="ms-song-item">
                                                    <div class="ms-song-img p-relative">
                                                        <a href="@Url.Action("Index","Event", new { category="Sports"})">
                                                            <img src="~/assets/img/genres/genres-04.jpg" alt="brand-song">
                                                        </a>
                                                    </div>
                                                    <div class="ms-song-content">
                                                        <h3 class="ms-song-title">
                                                            <a href="@Url.Action("Index","Event", new { category="Sports"})">Sports</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Main Menu -->
                                    <div class="header__right">
                                        <div class="mean__menu-wrapper">
                                            <div class="main-menu main-menu-ff-space">
                                                <nav id="mobile-menu">
                                                    <ul>
                                                        <li class="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")">
                                                            <a href="@Url.Action("Index", "Home")">Home</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Index", "EventDetail", new{id = 1})">About</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("WorkSystem", "Home")">How It Works</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Index","Event")">Events</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("News", "Home")">Blog</a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Contact", "Home")">Help Center</a>
                                                        </li>
                                                        @* Login/Register *@
                                                        @{
                                                            var email = Context.Session.GetString("UEmail");
                                                            var memId = Context.Session.GetInt32("UId");
                                                        }
                                                        @if (!string.IsNullOrEmpty(email))
                                                        {
                                                            <li class="has-dropdown">
                                                                <a href="#">@email</a>
                                                                <ul class="submenu">
                                                                    <li><a href="@Url.Action("Index", "ProfileMember", new { memId = memId })">Your profile</a></li>
                                                                    <li><a href="@Url.Action("Index", "Order", new { memId = memId })">Your orders</a></li>
                                                                    <li><a href="@Url.Action("Index", "Registration", new { id = memId })">Your registration</a></li>
                                                                    <li><a href="@Url.Action("Logout", "Client")">Logout</a></li>
                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <div class="user__acount d-none d-xxl-inline-flex">
                                                                <span>
                                                                    <a href="@Url.Action("Login", "Client", new {area = "Client"})"><i class="flaticon-user"></i></a>
                                                                </span>
                                                            </div>
                                                        }
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                        <!-- Action buttons -->
                                        <div class="header__action-inner d-flex align-items-center">
                                            <div class="header__btn">
                                                <a href="@Url.Action("Join","Home")" class="ms-border-btn">
                                                    <i class="fa-regular fa-plus"></i>List Your Service
                                                </a>
                                            </div>
                                        </div>
                                    </div> <!-- End Right -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ==== End Header ==== -->
        <!-- Hero giữ nguyên -->
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url('@(Url.Content("~/Client/images/img_bg_1.jpg"))');">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>@(ViewData["HeroTitle"] as string ?? "Sự kiện nổi bật của trường")</h1>
                                <h2 class="lead text-light">@(ViewData["HeroSubtitle"] as string ?? "Khám phá — Đăng ký — Tham dự")</h2>
                                <p>
                                    <a href="@Url.Action("Index","Event")" class="btn btn-primary btn-lg">Khám phá sự kiện</a>
                                    <a href="@Url.Action("Index","Media")" class="btn btn-white btn-outline btn-lg">Thư viện</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer>
            <div class="ms-footer-bg ms-footer-overlay zindex-1 include__bg pt-120"
                 data-background="@Url.Content("Client")/assets/img/bg/sound-bg.png">
                <div class="ms-footer-top pt-130">
                    <div class="container">
                        <div class="ms-footer-border pb-10">
                            <div class="row">
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer-widget mb-50">
                                        <h3 class="ms-footer-title">Local Band Group</h3>
                                        <ul>
                                            <li><a href="#">The Tricks</a></li>
                                            <li><a href="#">Sound City</a></li>
                                            <li><a href="#">Big Teaser</a></li>
                                            <li><a href="#">The New Tones</a></li>
                                            <li><a href="#">Halos Music</a></li>
                                            <li><a href="#">Soho Soul</a></li>
                                            <li><a href="#">Atlantic</a></li>
                                            <li><a href="#">The Fiction</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer-widget mb-50">
                                        <h3 class="ms-footer-title">Trending Genres</h3>
                                        <ul>
                                            <li><a href="#">Wedding Bands</a></li>
                                            <li><a href="#">Jazz & Swing</a></li>
                                            <li><a href="#">Musician</a></li>
                                            <li><a href="#">Classical Musician</a></li>
                                            <li><a href="#">Corporate Party</a></li>
                                            <li><a href="#">Premiere Party Band</a></li>
                                            <li><a href="#">DJ Songs</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer-widget mb-50">
                                        <h3 class="ms-footer-title">Country We Serve</h3>
                                        <ul>
                                            <li><a href="#">United State</a></li>
                                            <li><a href="#">Canada</a></li>
                                            <li><a href="#">Australia</a></li>
                                            <li><a href="#">China</a></li>
                                            <li><a href="#">South Korea</a></li>
                                            <li><a href="#">Japan</a></li>
                                            <li><a href="#">Singapore</a></li>
                                            <li><a href="#">Hong Kong</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-2 col-lg-3 col-md-6">
                                    <div class="ms-footer-widget mb-50">
                                        <h3 class="ms-footer-title">Company</h3>
                                        <ul>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Contact us</a></li>
                                            <li><a href="#">Terms & Policy</a></li>
                                            <li><a href="#">Help & Support</a></li>
                                            <li><a href="#">Press</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-lg-5 col-md-6">
                                    <div class="ms-footer-widget mb-50">
                                        <h3 class="ms-footer-title">Subscribe Now</h3>
                                        <div class="ms-subscribe-form mb-20 pt-5">
                                            <i class="flaticon-mail"></i>
                                            <input type="text" placeholder="Enter your mail">
                                            <button type="submit" class="ms-subscribe-btn">
                                                <i class="fa-sharp fa-solid fa-paper-plane"></i>
                                            </button>
                                        </div>
                                        <div class="ms-footer-warning mb-25">
                                            <p>You Don’t Get Any Spam Message !</p>
                                        </div>
                                        <div class="ms-footer-social">
                                            <a href="https://www.linkedin.com/" title="Instagram" target="_blank">IN</a>
                                            <a href="https://twitter.com/" title="Twitter" target="_blank">TW</a>
                                            <a href="https://www.facebook.com/" title="Facebook" target="_blank">FB</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ms-footer-bottom">
                    <div class="container">
                        <div class="ms-footer-bottom-wrap align-items-center d-flex flex-wrap justify-content-between pt-35 pb-20">
                            <div class="ms-footer-logo mb-15">
                                <a href="index.html"><img src="assets/img/logo/footer-logo.png" alt="logo"></a>
                            </div>
                            <div class="ms-footer-copy">
                                <p>© Musicly 2023, All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <script src="@Url.Content("~/Client/assets/app/js/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/waypoints.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/nice-select.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/meanmenu.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/slick.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/backtotop.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/ajax-form.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/gsap.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/ScrollToPlugin.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/SplitText.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/ScrollTrigger.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/jquery.jplayer.min.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/jplayer.playlist.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/settings.js")"></script>
    <script src="@Url.Content("~/Client/assets/app/js/main.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
